#signupDiv{
  height:190px;
}
#signupDiv label{
  width: 100px;
  margin-bottom:6px;
  margin-top: 6px;
}
#signupDiv input{
  border:1px solid #97180b;
  border-radius: 3px;
  width: 250px;
}
#signupDiv input:focus{
  border:2px solid #97180b;
  outline: none;
  margin-top: 3px;
  margin-bottom: 3px;
}
#check-me{
  font-size: 110%;
  display: inline;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  padding: 10px;
}
.modal-body{
  padding-bottom: 0;
}
.modal-body input:focus{
  border:3px solid #97180b;
  margin-bottom: 9px;
  outline: none;
}
#modalSuccess{
  border-radius: 10px;
  margin-right: 5px;
  width: 100px;
  border: none;
  height: 30px;
}
#modalSuccess:focus{
  outline:none;
}
#modalClose{
  height: 30px;
  background-color: #97180b;
  border-radius: 10px;
  border: 2px solid #97180b;
  margin-right: 5px;
  width: 100px;
  color: white;
}
#modalClose:hover{
  background-color:#ba0000;
}
.modal-content{
  width:435px;
}
#signupModal{
  position: fixed;
  top:20%;
  left:12%;
}
#signinModal{
  position:fixed;
  top:20%;

}
.signinBar{
  border:2px solid #97180b;
  border-radius: 10px;
  margin-bottom:10px;
  width:400px;
}
.positionModal{
  position: absolute;
  top:30%;
  left:15%;
  margin-bottom: 0;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    outline:none;
}
button:hover, button:visited, button:link, button:active
{
    text-decoration: none;
    outline:none;
}
#nav-me{
  height: 130px;
}
#brands-combo{
  position:relative;
  left:80px;
  padding-top: 20px;
  width:115px;
}
#brand-me{
  font-family: 'Montserrat Alternates', sans-serif;
  color: #97180b;
  font-size: 15px;
}
#brand-me:hover{
  text-decoration: none;
}
#brand-me:visited {
    text-decoration: none;
}
#brand-me:focus {
    text-decoration: none;
}
#header-img{
  padding-top: 0;
  padding-left: 10px;
  display: block;
}
.navbar-b-me{
  position: relative;
  top: 85px;
  right:12%;
}
.navbar-b-me li:hover{
  color: black;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}
#jumbo-me{
  position: relative;
  height:580px;
  background-color: #97180b;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0;
}
.panel-me{
  background-color: white;
  position: relative;
  top:40%;
  left:55%;
  width:400px;
  border-top: none;
  border-radius: 10px;
  padding-bottom: 10px;
}

#p-h{
  background-color: #E0E0E0;
  color:#97180b;
  border: 2px solid #E0E0E0;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  height:40px;
  padding:0;
  margin: 0;
  font-size: 16px;
  text-align: center;
  padding-top: 7px;
}

#freetrial{
  color: #97180b;
}
#freetrial:hover{
  color: #ba0000;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}
.input-bar input{
  border:2px solid #97180b;
  border-radius:50px;
}
.input-bar input:focus{
  border:3px solid #97180b;
  outline: none;
  border-radius:50px;
}
.name-me{
  width:160px;
  display: inline-block;
  margin-bottom: 15px;
}
#lastname{
  margin-left:43px;
}
#signup-button{
  background-color: white;
  color: #97180b;
  border: 2px solid #97180b;
  font-weight: 300;
  height: 30px;
  width: 240px;
  border-radius: 50px;
}
#signup-button:hover{
  background-color: #97180b;
  color: white;
  border:none;
}
#signup-button:focus{
  outline: none;
}
#text-home{
  position: absolute;
  color: white;
  background-color: #97180b;
  left:8%;
  top:40%;
  font-size: 26px;
  padding-top: 35px;
  padding-left: 10px;
  font-weight: bolder;
}

.font-Mont{
  font-family: 'Montserrat Alternates', sans-serif;
}
.font-Mont-red{
  font-family: 'Montserrat Alternates', sans-serif;
  color: #97180b;
}

@media(min-width:400px) and (max-width:767px){
  .navbar-b-me{
    top:0;
    right:0;
  }
  #bt-cl-me{
    position: absolute;
    top:78px;
    right:-8px;
  }
  #brand-me{
  left:33%;
  }
  #header-img{
  left:45.5%;
  }
  #brands-combo{
    left:43%;
  }
  #signupModal{
    left:16%;
    top:23.2%;
  }
}

@media(min-width:400px) and (max-width:933px){
  .panel-me{
    width:42.8%;
  }
  #lastname{
    margin-left:8.7%;
  }
  .name-me{
    width:45%;
    display: inline-block;
    margin-bottom: 15px;
  }
  #text-home{
    width:44%;
  }
}

@media(min-width:400px) and (max-width:759px){
  #lastname{
    margin-left:8%;
  }
  #signup-button{
    width:80%;
  }
}

@media(min-width:400px) and (max-width:558px){
  .panel-me{
    left:5%;
    width:90%;
    top:50%;
  }
  #text-home{
    top:25%;
    width:100%;
  }
  #lastname{
    margin-left:8.7%;
  }
  #brands-combo{
    left:38%;
  }
  #signupModal{
    left:0%;
  }
  #signinModal{
    left:0%;
}
}
